<h1 mat-dialog-title class="rtl">{{data.ticket.subject}}</h1>
<div mat-dialog-content #dialogBody>
    <div class="row">
        <div class="col-lg-4">
            <mat-card class="my-comment rtl text-white">{{data.ticket.content}}</mat-card>
            <div>
                <small>{{ticketService.convertGregorianToPersian(data.ticket.createdAt)}}</small>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let comment of comments">
        <div class="row" [style.direction]="isSupportComment(comment.owner) ? 'ltr' : 'rtl'">
            <div class="col-lg-4">
                <mat-card class="rtl text-white"
                    [style.background-color]="isSupportComment(comment.owner) ? '#f27e20' : '#2093f2'">
                    {{comment.content}}</mat-card>
                <div>
                    <small>{{ticketService.convertGregorianToPersian(comment.createdAt)}}</small>
                </div>
            </div>
        </div>
    </ng-container>


    <ng-container *ngFor="let comment of newComments">
        <div class="row rtl">
            <div class="col-lg-4">
                <mat-card class="rtl my-comment text-white">
                    {{comment.content}}</mat-card>
                <div>
                    <small>{{ticketService.convertGregorianToPersian(comment.createdAt)}}</small>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div mat-dialog-actions>
    <button mat-mini-fab color="primary" aria-label="send message" (click)="onSend()">
        <mat-icon>send</mat-icon>
    </button>
    <mat-form-field appearance="fill" class="col-10">
        <mat-label>متن پیام</mat-label>
        <textarea matInput (keydown.enter)="onSend()" [formControl]="comment"></textarea>
    </mat-form-field>
</div>